.env
.env.aider
.env.secret
!.env.example
.aider*
.aider*/
venv/
__pycache__/
**/__pycache__/**
*.log
*.zip
.vscode/
.mypy_cache/
.ruff_cache/
codebase.txt
data/
logs/
.sqlx/
.python-version
.plandex-v2/
web/target/